@using DYH.Core
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="~/Content/themes/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/styles/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/plugins/ui/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/plugins/fancybox/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/plugins/powertip/css/jquery.powertip.css">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/styles/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/styles/bootcss.css">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/styles/media.css">
    
    @if (Context.Request.Browser.Browser.ToLower().Contains("internetexplorer"))
    {
        <link href="@Url.Content("~/Content/themes/styles/ie.css")" rel="stylesheet" type="text/css" />
    }

    <script type="text/javascript" src="~/Content/themes/scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Content/themes/scripts/jquery.bganimate.js"></script>
    <script type="text/javascript" src="~/Content/themes/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/themes/plugins/ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/themes/plugins/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/Content/themes/scripts/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="~/Content/themes/plugins/powertip/jquery.powertip.js"></script>
    <script type="text/javascript" src="~/Content/themes/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Content/themes/scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/Content/themes/scripts/main.js"></script>

    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="logo navbar-header pull-left">
                <a href="#" class="switcher"><i class="icon-th-list"></i></a>
                <a href="#"><i class="icon-users"></i><span>User Manager</span></a>
            </div>
            <div class="navbr-buttons navbar-header pull-right">
                <ul class="ace-nav">
                    <li class="bg-danger ui top left pointing dropdown welcome">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-tasks"></i>
                            <span class="badge badge-success">4</span>
                        </a>
                        <ul class="ddl dropdown-menu-left dropdown-navbar dropdown-menu dropdown-caret dropdown-close" role="menu">
                            <li>
                                <a href="#">
                                    <i class="icon-cog"></i>
                                    <span>Settings</span>
                                </a>
                            </li>

                            <li>
                                <a href="profile.html">
                                    <i class="icon-user"></i>
                                    <span>Profile</span>
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="#">
                                    <i class="icon-power-off"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="bg-primary ui top left pointing dropdown welcome">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-bell"></i>
                            <span class="badge badge-info">4</span>
                        </a>
                        <ul class="ddl dropdown-menu-left dropdown-navbar dropdown-menu dropdown-caret dropdown-close" role="menu">
                            <li>
                                <a href="#">
                                    <i class="icon-cog"></i>
                                    <span>Settings</span>
                                </a>
                            </li>

                            <li>
                                <a href="profile.html">
                                    <i class="icon-user"></i>
                                    <span>Profile</span>
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="#">
                                    <i class="icon-power-off"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="bg-success">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-envelope"></i>
                            <span class="badge badge-primary">4</span>
                        </a>
                        <ul class="ddl dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close" role="menu">
                            <li>
                                <a href="#">
                                    <i class="icon-cog"></i>
                                    <span>Settings</span>
                                </a>
                            </li>

                            <li>
                                <a href="profile.html">
                                    <i class="icon-user"></i>
                                    <span>Profile</span>
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="#">
                                    <i class="icon-power-off"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="bg-info ui top right pointing dropdown welcome">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>
                            <span class="user-info">
                                <small>Welcome,</small>@Utility.CurrentLoginModel.UserName
                            </span>
                            <i class="icon-caret-down"></i>
                        </a>
                        <ul class="ddl dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close" role="menu">
                            <li>
                                <a href="#">
                                    <i class="icon-cog"></i>
                                    <span>Settings</span>
                                </a>
                            </li>

                            <li>
                                <a href="profile.html">
                                    <i class="icon-user"></i>
                                    <span>Profile</span>
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="~/Users/Logout">
                                    <i class="icon-power-off"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <div class="primary-content">
            @Html.Action("Carte", "Modules")
            @*<aside class="nav-aside">
                <nav class="nav-wrapper">
                    <ul class="carte">
                        <li>
                            <a href="#">
                                <i class="icon-dashboard">
                                    <span class="icon-bg bg-danger"></span>
                                </i>
                                <span data-i18n="Dashboard">Dashboard</span>
                            </a>
                            <ul class="carte-children">
                                <li>
                                    <a href="#">
                                        <span class="title">Hello 1</span>
                                        <i class="icon-play icon-has-ul"></i>
                                    </a>
                                    <ul class="carte-children">
                                        <li>
                                            <a href="#">
                                                <span class="title">Hello 11</span>
                                                <i class="icon-play icon-has-ul"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="title">Hello 12</span>
                                                <i class="icon-play icon-has-ul"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="title">Hello 13</span>
                                                <i class="icon-play icon-has-ul"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title">Hello 2</span>
                                        <i class="icon-play icon-has-ul"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="title">Hello 3</span>
                                        <i class="icon-play icon-has-ul"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-th-large">
                                    <span class="icon-bg bg-orange"></span>
                                </i>
                                <span>Setup</span>
                            </a>
                            <ul class="carte-children">
                                <li>
                                    <a href="~/Users/Index">
                                        <span class="title">Users</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Actions/Index">
                                        <span class="title">Actions</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/Modules/Index">
                                        <span class="title">Modules</span>
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-table">
                                    <span class="icon-bg bg-warning"></span>
                                </i>
                                <span data-i18n="Dashboard">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-pencil">
                                    <span class="icon-bg bg-success"></span>
                                </i>
                                <span data-i18n="Dashboard">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-tasks">
                                    <span class="icon-bg bg-danger"></span>
                                </i>
                                <span data-i18n="Dashboard">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-bar-chart icon">
                                    <span class="icon-bg bg-info"></span>
                                </i>
                                <span data-i18n="Dashboard">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-envelope icon">
                                    <span class="icon-bg bg-primary-light"></span>
                                </i>
                                <span data-i18n="Dashboard">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-file-text icon">
                                    <span class="icon-bg bg-violet"></span>
                                </i>
                                <span data-i18n="Dashboard">Dashboard</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>*@
            <section id="main-container">

                @RenderBody()

            </section>
            <footer class="footer">
                <p>© Copyright, DYH Inc. 2014. All rights reserved</p>
            </footer>
        </div>
        
    </div>

    @if (DataCast.Get<bool>(ViewBag.HasMessage))
    {
        <div class="message-box">
            <div class="success @TempData["MessageType"]">
                @Html.ValidationSummary("", new { @class = "summary" })
            </div>
        </div>
    }
    
    <div id="dlgload" title="Loading" style="display:none;">
        <div class="ui-dialog-loading">
            <p style="font-size:40px;">
                <i class="icon-spinner icon-spin"></i>
            </p>
            <p style="margin-top:10px;">
                <strong>Loading...</strong>
            </p>
        </div>
    </div>

    <div id="dlgmsg" title="Information" style="display:none;">
        <div class="ul-table" style="margin:15px 0 10px 0;">
            <ul class="ul-table-row">
                <li style="border:none;width:20%;padding-left:20px;"><i class="icon-info-circle" style="font-size: 30px;"></i></li>
                <li style="border:none;width:80%;padding:0 10px 0 10px;">
                    <p id="dlgmsg-text"> </p>
                </li>
            </ul>
        </div>        
    </div>
    
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
