@model List<UserEntry>
@{
    ViewBag.Title = "User List";
    string searchBy = ViewBag.SearchBy;
    string searchContent = ViewBag.SearchContext;

    string url = Url.Content("~/Users/Index?SearchBy=" + searchBy + "&SearchContent=" + searchContent + "&page=");
}

<div class="breadcrumbs" id="breadcrumbs">
    <div class="breadcrumb">
        <a href="#">Setup</a>
        <a href="~/Users/Index" class="active">User List</a>
    </div>
</div>

<section id="container">
    <div class="all-margin">
        <div class="cust-row clear-lr-margin">
            <div class="btn-group">
                <a href="~/Users/Create/" class="btn btn-default btn-bgcolor powertip" title="Add"><i class="icon-plus"></i></a>
                <a href="#" rel="~/Users/Edit/" class="btn edit btn-default btn-bgcolor powertip" title="Edit"><i class="icon-edit"></i></a>
                <a href="#" rel="~/Users/Delete/" class="btn delete btn-default btn-bgcolor powertip" title="Delete"><i class="icon-remove"></i></a>
            </div>
            
            <div class="btns-group btns-right">
                <form action="@Url.Content("~/Users/Index")" method="get" id="searchform">
                    <select name="SearchBy" class="select-text first-element">
                        <option value="">All Options</option>
                        <option value="UserName" @(searchBy == "UserName" ? "selected" : "")>User Name</option>
                        <option value="FirstName" @(searchBy == "FirstName" ? "selected" : "")>First Name</option>
                        <option value="LastName" @(searchBy == "LastName" ? "selected" : "")>Last Name</option>
                    </select>
                    <input type="text" name="SearchContent" placeholder="Search..." class="tool-text">
                    <a href="#" id="Search" class="btn btn-default btn-bgcolor powertip" title="Search"><i class="icon-search"></i></a>
                </form>
                
            </div>
        </div>
        <div class="row cust-row">
            <div class="col-xs-12">
                <!-- table -->
                <table class="table celled table-striped  table-hover">
                    <thead>
                        <tr>
                            <th class="center">
                                <input type="checkbox" />
                            </th>
                            <th>User Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Created By</th>
                            <th>Created Time</th>
                            <th class="btn-item2"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="center">
                                    <input type="checkbox" value="@item.UserId" />
                                </td>
                                <td>@item.UserName</td>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.Email</td>
                                <td>@item.CreatedBy</td>
                                <td>@item.CreatedTime</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <a href="~/Users/Edit/@item.UserId" class="btn btn-info btn-sm"><i class="icon-pencil"></i></a>
                                        <a href="~/Users/Delete/@item.UserId" class="btn btn-danger btn-sm"><i class="icon-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- end table -->
                
                @Html.Pager(ViewBag.PageModel as PageEntry, url)
                
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function() {
        $("#Search").on("click", function() {
            $("form").submit();
        });
    });
</script>