@using DYH.Core
@model LoginViewModel
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/Content/theme/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/theme/styles/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/theme/styles/login.css">
    <script type="text/javascript" src="~/Content/theme/scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Content/theme/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Content/theme/scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/Content/theme/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/theme/scripts/login.js"></script>
    <meta name="description" content="login" />
</head>
<body>
    <div class="wrapper">
        <section id="content">
            <div class="signin-block">

                <div class="sigin-body">
                    <div class="container">
                        <div class="form-container">

                            <header>
                                User Manager
                            </header>

                            <form action="~/Users/Login" method="post" class="form-horizontal">
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <fieldset>
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-user"></span>
                                            </span>
                                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", placeholder = "User Name" })

                                        </div>
                                        @Html.ValidationMessageFor(x => x.UserName)
                                    </div>
                                    <div class="form-group" style="margin-bottom:0;">
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-lock"></span>
                                            </span>
                                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                                        </div>
                                        @Html.ValidationMessageFor(x => x.Password)
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="Remember" @(Model.Remember == "on" ? "checked" : "")>Remember me 7 days
                                                </label>
                                                <label>
                                                    <a href="javascript:;" class="forgot">Forgot your password?</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="hidden" name="TimezoneOffset" id="TimezoneOffset" />
                                        <button type="submit" name="btnLogin" class="btn btn-primary btn-lg btn-block">Log in</button>

                                    </div>
                                </fieldset>
                            </form>

                            <section>
                                <p class="text-center text-muted text-small">Don't have an account yet? <a href="#/pages/signup">Sign up</a></p>
                            </section>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    @if (DataCast.Get<bool>(ViewBag.HasMessage))
    {
        <div class="message-box">
            <div class="success @TempData["MessageType"]">
                @Html.ValidationSummary("", new { @class = "summary" })
            </div>
        </div>
    }
</body>
</html>